@mixin inputStyles {
  DISPLAY:BLOCK;
  FONT-FAMILY: SANS-SERIF;
  WIDTH:220PX;
  HEIGHT:40PX;
  MARGIN:10PX AUTO;
  TEXT-ALIGN: RIGHT;
  BORDER:0;
  BACKGROUND:#3B3535;
  COLOR:#FFF;
  PADDING-TOP:20PX;
  FONT-SIZE:20PX;
  MARGIN-LEFT: 42PX;
  OUTLINE: NONE;
  OVERFLOW: HIDDEN;
  LETTER-SPACING: 4PX;
  TOP:10PX;
}
