.Result {
  width: 230px;
  height: 50px;
  margin: 10px auto;
  text-align: right;
  border: 0;
  font-size: 40px;
  margin-left: 5px;
  overflow: hidden;
  letter-spacing: 4px;
  top: 10px;
  width: 72%;
  outline: none;
}
