.Result {
  width: 230px;
  height: 50px;
  margin: 40px auto;
  text-align: right;
  border: 0;
  font-size: 30px;
  margin-left: 5px;
  overflow: hidden;
  letter-spacing: 4px;
  width: 72%;
  outline: none;
}
//DIV STYLE instead of INPUT
// .Result {
//     display:block;
//     font-family: sans-serif;
//     width:220px;
//     height:40px;
//     margin:10px auto;
//     text-align: right;
//     border:0;
//     background:#3b3535;
//     color:#fff;
//     padding-top:20px;
//     font-size:20px;
//     margin-left: 42px;
//     outline: none;
//     overflow: hidden;
//     letter-spacing: 4px;
//     top:10px;
// }
