.Result {
  width: 218px;
  height: 50px;
  margin: 10px auto;
  text-align: right;
  display: block;
  font-family: sans-serif;
  border: 0;
  font-size: 30px;
  margin-left: 43px;
  overflow: hidden;
  letter-spacing: 4px;
  outline: none;
  padding-top: 10px;
  background: black;
  color: white;
}
